#To be copied to /lib/systemd/system/externaldev.service
#Wants /usr/local/bin/exdev.sh

[Unit]
Description=Service to mount and unmount the external drives specified in this unitfile.
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/exdev.sh mount
ExecStop=/usr/local/bin/exdev.sh unmount
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
